<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #151515;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        img{
           border: 2px white dashed;
        }
        h3{
            color: white;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
     <div class="container">
     <img src="https://miro.medium.com/v2/resize:fit:640/format:webp/1*wBTs2YZSlap-clR2kLLZdQ.png">
     </div>
</body>
</html>

<!-- user: admin -->
<!-- password is 12345 -->