<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body>

<div class="container">
  <h2>Welcome Back</h2>
  <p class="subtitle">Enter your credentials to sign in</p>

  <form action="{% url 'signin' %}" method="post">
    {% csrf_token %}

    <label>Username</label>
    <input type="text" name="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <button type="submit">Sign In</button>
  </form>

  <div class="footer">
    Don’t have an account? <a href="Open_signup">Sign Up</a>
  </div>
</div>

</body>
</html>